[run]
source = src/db_connector_tool
omit =
    */__about__.py
    */__init__.py
    tests/*

[report]
exclude_lines =
    pragma: no cover
    if __name__ == .__main__.:
    if TYPE_CHECKING:
    def __repr__
    def __str__
    raise NotImplementedError
    pass

[html]
directory = htmlcov
